.messagesSection {
  height: 80%;
  background-color: var(--bg-color);
  position: relative;
  .container {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem 1rem 1rem 0rem;
  }
  .messagesContent {
    display: flex;
    flex-direction: column;
  }
}
