.message {
  align-self: flex-end;
  background-color: var(--clr1);
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  &.bot {
    align-self: flex-start;
    background-color: transparent !important;
    padding: 0;
    .messageContent {
      p {
        background-color: #fff;
        width: fit-content;
        padding: 0.5rem;
        border-radius: 5px;
      }
      .loader-dots {
        color: black;
        border: 1px solid #fff;
        background-color: #fff;
        padding: 0.5rem;
        border-radius: 5px;
        width: 100px;
        position: relative;
        font: 300 1em/1.5 "Lato", sans-serif;
        letter-spacing: 1px;
        &:after {
          content: "....";
          width: 0;
          position: absolute;
          overflow: hidden;
          animation: loader-dots-animation 1s infinite;
        }
      }
    }

    @keyframes loader-dots-animation {
      0% {
        width: 0em;
      }
      50% {
        width: 1.2em;
      }
      100% {
        width: 0em;
      }
    }
  }
}
